{% extends 'base.html' %}
{% load static %}

{% block title %}
    IndexPage
{% endblock %}

{% block content %}
    <h2>Дефолтная страница сайта</h2>
    <div style="display: block;"><a href="/pages/about/">О нас</a></div>
    <div style="display: block;"><a href="/pages/contacts/">Контакты</a></div>

    {% if turn_on_block %}
        <div class="card">
            <div class="card-body">
                Скрываемый по желанию блок с некоторой информацией
            </div>
        </div>
    {% endif %}
{% endblock %}
