{% extends "base.html" %}

{% block extratags %}
    <meta name="description" content="{{realty.description}}">
    <meta name="keywords" content="{{realty.name}}, купить, продать" />
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Realty",
    "name":"{{ realty.title }}",
    "category":{
        "@type":"Category",
        "text":"{{ realty.category }}"
                },
    "saller"{
        "@type":"Saller",
        "saller_name": "{{realty.saller.first_name}} {{realty.saller.last_name}}"
                }
    }
    </script>
{% endblock %}


{% block title %}
    Realty Detail
{% endblock %}

{% block content %}
    <h2>{{realty.name}}</h2>
    <h4>Просмотрено: {{counter}} раз</h4>
    <div class="col mt-4">
        {{realty.description}}
    </div>

    <div class="row">
        <div class="col-sm-3 mt-4">
            <p>Продавец: {{realty.saller}}</p>
        </div>
        <div class="col-sm-5 mt-4">
            <p>Дата публикации: {{realty.published_at_ru}}</p>
        </div>
    </div>
    <a class="button button-success" href="{% url 'update_realty' realty.slug %}">Обновить</a>

{% endblock %}
